<!-- 商家推荐卡片（单独卡片） -->
<div class="card merchant-card">
  <h3>商家推荐</h3>
  <div class="merchant-list">
    <div class="merchant-item">
      <div class="merchant-info">
        <img src="img/环球巴士 logo.png" alt="环球巴士 logo" />
        <span class="merchant-name">环球巴士</span>
      </div>
      <a href="../affiliates.html?aff=universalbus" target="_blank">
        <button>访问</button>
      </a>
    </div>
    <div class="merchant-item">
      <div class="merchant-info">
        <img src="img/银河录像局 logo.jpg" alt="银河录像局 logo" />
        <span class="merchant-name">银河录像局</span>
      </div>
      <a href="../affiliates.html?aff=nfvideo" target="_blank">
        <button>访问</button>
      </a>
    </div>
    <div class="merchant-item">
      <div class="merchant-info">
        <img src="img/奈飞小铺 logo.png" alt="奈飞小铺 logo" />
        <span class="merchant-name">奈飞小铺</span>
      </div>
      <a href="../affiliates.html?aff=ihezu" target="_blank">
        <button>访问</button>
      </a>
    </div>
  </div>
</div>
