name: Generate sitemap

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  sitemap:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate sitemap
        uses: cicirello/generate-sitemap@v1
        with:
          base-url-path: https://toolwave.github.io
          sitemap-path: sitemap-index.xml
          include-pdf: false

      - name: Commit sitemap
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add sitemap.xml
          git commit -m "Auto-generate sitemap" || echo "No changes"
          git push
